<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId" value="100004563" />
  </appSettings>
  <connectionStrings>
    <add name="SavoryConfigDB" connectionString="Data Source=BLUEWIND\BLUESERVER;Initial Catalog=SavoryConfigDB;Integrated Security=True;Connect Timeout=10" providerName="System.Data.SqlClient" />
    <!--add name="SavoryConfigDB" connectionString="Data Source=192.168.1.107,1433;Initial Catalog=SavoryConfigDB;Integrated Security=True;Connect Timeout=10" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConfigServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8899/metadata" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ConfigServiceBehavior" name="Savory.ConfigService.ConfigService">
        <endpoint address="http://localhost:8899" binding="basicHttpBinding" contract="Savory.ConfigService.Contract.IConfigService" />
        <endpoint address="net.pipe://localhost/savoryconfigservice" binding="netNamedPipeBinding" contract="Savory.ConfigService.Contract.IConfigService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>